<!--
============================================
; Title: Bobs Computer Repair Shop
; Author: Professor Krasso
; Date: 27 November 2021
; Modified By: Angela Martin, Alex Haefner & Sarah Jean Baptiste
; Description: User-config Component
==========================================
-->
<mat-card class="card">

  <h1 class="title">Create Account</h1>

  <mat-horizontal-stepper class="stepper" #stepper linear>
    <!-- Step 1 - Contact Info-->
    <mat-step class="required" errorMessage="Contact Information Required">
      <ng-template matStepLabel>Contact Information</ng-template>
      <form>
        <mat-form-field [formGroup]="contactForm">
          <input matInput placeholder="First Name" type="text" [formControl]="contactForm.controls['firstName']">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" >
        </mat-form-field>
        <br/>

        <mat-form-field>
          <input matInput placeholder="Phone Number">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
        <br/>

        <mat-form-field>
          <input matInput placeholder="Address">
        </mat-form-field>
        <br/>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Step 2 - Security Question Info-->
    <mat-step>
      <ng-template matStepLabel>Security Questions</ng-template>
        <form>
          <mat-form-field>
            <input matInput placeholder="Enter Security Question">
            <mat-select>
              <mat-option *ngIf = "securityQuestion">
                    {{ securityQuestion.text }} <!--Not displaying-->
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Security Question">
          </mat-form-field>
          <br/>

          <mat-form-field>
            <input matInput placeholder="Enter Security Question">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Security Question">
          </mat-form-field>
          <br/>

          <mat-form-field>
            <input matInput placeholder="Enter Security Question">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter Security Question">
          </mat-form-field>
          <br/>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
    </mat-step>

    <!-- Step 3 - Credentials Info-->
    <mat-step>
      <ng-template matStepLabel>Credentials</ng-template>
        <form>

          <mat-form-field>
            <input matInput placeholder="Username">
          </mat-form-field>
          <br/>

          <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field>


          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="register()">Register</button>
          </div>
        </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
