<div fxFlexLayout="column" class="dialog">
  <mat-card style="background-color: #f2efeb;"class="container">
    <mat-card-title>{{title}} User</mat-card-title>
    <form [formGroup]="createUserForm">

      <div fxLayout="row" fxLayoutGap="200px" fxLayoutAlign="center">
        <div>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input class="input" matInput placeholder="Last Name" type="name" name="lastName" [formControl]="createUserForm.controls['lastName']">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input class="input" matInput placeholder="First Name" type="name" name="firstName" [formControl]="createUserForm.controls['firstName']">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="200px" fxLayoutAlign="center">
        <div>
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input class="input" matInput placeholder="Username" type="name" name="userName" [formControl]="createUserForm.controls['userName']">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Phone</mat-label>
            <input class="input" matInput placeholder="Ex: 123-456-7890" type="tel" name="phone" [formControl]="createUserForm.controls['phone']">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <div>
          <mat-form-field class="wide-input">
            <mat-label>Address</mat-label>
            <input class="input" matInput placeholder="Ex: 123 Central Ave. Austin, Texas" type="text" name="address" size="300" [formControl]="createUserForm.controls['address']">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="200px" fxLayoutAlign="center">
        <div>
          <mat-form-field class="select-field" appearance="standard">
            <mat-label>User Role</mat-label>
            <mat-select class="select-field" [(value)]="user.role._id" name="userRole" [formControl]="createUserForm.controls['userRole']">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let role of roles" [value]="role._id">{{role.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input class="input" matInput placeholder="Email" type="email" name="email" [formControl]="createUserForm.controls['email']">
          </mat-form-field>
        </div>

      </div>

      <div fxLayout="row" fxLayoutGap="200px" fxLayoutAlign="center">
        <div>
          <mat-form-field class="select-field" appearance="standard">
            <mat-label>Security Question 1</mat-label>
            <mat-select name="securityQuestion1text" [formControl]="createUserForm.controls['securityQuestion1text']">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let securityQuestion of securityQuestions" [value]="securityQuestion._id">{{securityQuestion.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="standard">
            <mat-label>Answer</mat-label>
            <input class="input" matInput type="text" name="securityQuestion1" [formControl]="createUserForm.controls['securityQuestion1']">
          </mat-form-field>
        </div>

      </div>

      <div fxLayout="row" fxLayoutGap="200px" fxLayoutAlign="center">
        <div>
          <mat-form-field class="select-field" appearance="standard">
            <mat-label>Security Question 2</mat-label>
            <mat-select name="securityQuestion2text" [formControl]="createUserForm.controls['securityQuestion2text']">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let securityQuestion of securityQuestions" [value]="securityQuestion._id">{{securityQuestion.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="standard">
            <mat-label>Answer</mat-label>
            <input class="input" matInput type="text" name="securityQuestion2" [formControl]="createUserForm.controls['securityQuestion2']">
          </mat-form-field>
        </div>

      </div>

      <div fxLayout="row" fxLayoutGap="200px" fxLayoutAlign="center">
        <div>
          <mat-form-field class="select-field" appearance="standard">
            <mat-label>Security Question 3</mat-label>
            <mat-select name="securityQuestion3text" [formControl]="createUserForm.controls['securityQuestion3text']">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let securityQuestion of securityQuestions" [value]="securityQuestion._id">{{securityQuestion.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="standard">
            <mat-label>Answer</mat-label>
            <input class="input" matInput type="text" name="securityQuestion3" [formControl]="createUserForm.controls['securityQuestion3']">
          </mat-form-field>
        </div>

      </div>

      <div>
        <button class="button-left" mat-button (click)="cancel()">Cancel</button>
        <button class="button-right" mat-button (click)="onSubmit()">{{title}}</button>
      </div>

    </form>
  </mat-card>
</div>
