
.container {
  width: 45%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 1%;
}

.dialog {
  background-color: #f2efeb;
}

::ng-deep .wide-input{
    width: 560px !important;
}



mat-form-field input:active {
  color: #6c5c47;
}

.button-left {
  margin-top: 30px;
  margin-right: 60px;
}

mat-card-title {
  margin-bottom: 50px;
  font-family: 'Castoro', Arial, Helvetica, sans-serif;
  font-size: 36px;
}

mat-select {
  margin-top: -25px;
}





