
.container {
  width: 65%;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: none;

}

.actual-users {
  margin-left: 28px;
}

.edit-button {
  margin-left: 12px;
  padding-right: 75px;
}

h1 {
  font-size: 34px;
  font-weight: normal;

}

h2 {
  font-size: 24px;
  font-weight:normal;
  margin-left: 26px;
}

h3 {
  font-size: 16px;
  margin-left: 10px;
}

h4 {
  font-size: 20px;
}



mat-card {
  margin: 25px;
  box-shadow: none;
}
