<!--
============================================
; Title: Bobs Computer Repair Shop
; Author: Professor Krasso
; Date: 27 November 2021
; Modified By: Angela Martin, Alex Haefner & Sarah Jean Baptiste
; Description: Verify-security-questions Component
==========================================
-->

<mat-card  class="container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card-title>Verify Security Questions</mat-card-title>
  </div>

  <div class="actual-users" fxLayout="row" fxLayoutGap="60%">
    <div>
      <ul>
        <li>
          <p>
            List of User's generated security questions goes here.
            <mat-form-field appearance="standard">
              <input matInput placeholder="Answer">
            </mat-form-field>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <button class="submit" mat-raised-button>Submit</button>
</mat-card>

