.container {
  width: 45%;
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2efeb;
  margin-top: 150px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.title {
  font-family: 'Castoro', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}

.input {
  width: 800px !important;
}

.button {
  margin-top: 10px;
}

mat-card {
  align-self: center;
}

mat-card-title {
  padding-bottom: 25px;
}


