<p>forgot-password-questions works!</p>
<div *ngIf="questionsFetched">

  <div>
    <mat-form-field>
      <mat-label>{{ securityquestion1.text }}</mat-label>
      <input matInput placeholder="Security Question 1" type="name" name="securityquestion1" [(ngModel)]="securityquestion1.answer">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>{{ securityquestion2.text }}</mat-label>
      <input matInput placeholder="Security Question 2" type="name" name="securityquestion2" [(ngModel)]="securityquestion2.answer">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>{{ securityquestion3.text }}</mat-label>
      <input matInput placeholder="Security Question 3" type="name" name="securityquestion3" [(ngModel)]="securityquestion3.answer">
    </mat-form-field>
  </div>

  <button mat-button class="button" (click)="confirm()" style="text-decoration: underline;">Next</button>
</div>

