/*
============================================
; Title: Bobs Computer Repair Shop
; Author: Professor Krasso
; Date: 27 November 2021
; Modified By: Angela Martin, Alex Haefner & Sarah Jean Baptiste
; Description: Create Question Component
==========================================
*/

/* Style the dialog container */
.container {
  width: 40%;
  margin-left: 3px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  border-radius: 1%;
  background-color: #e2ddd8;
}

/* Style the title */
.title {
  font-family: 'Castoro', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
}

/* Set the width of the input underline */
.input {
  width: 100%;
}

/* Move the buttons to the left */
.button-left {
  margin-left: 275px;
  margin-right: 50px;
}

/* Set the carat color */
::ng-deep.input {
  caret-color: #6c4656;
}





