<!--
=======================================================
  Title: Nodebucket
  Author: Professor Krasso
  Date: 11/03/2021
  Modified by: Sarah Jean Baptiste
  Description: baselayout
========================================================
-->

<!-- Container -->
<mat-card class="container">
<!-- Add new question dialog -->
  <h2 class="title" mat-dialog-title>{{titletext}}</h2>

  <!-- form to allow user to enter question -->
  <mat-dialog-content class="content" [formGroup]="questionForm">
    <mat-form-field class="input">
      <input class="input" type="text" matInput formControlName="text" (keydown.enter)="createQuestion()">
    </mat-form-field>
  </mat-dialog-content>

  <!-- Button to create a new question and send to DB -->
  <mat-dialog-actions>
    <button class="button-left" mat-button (click)="cancel()">Cancel</button>
    <button class="button-right" mat-button [disabled]="!questionForm.valid" (click)="createQuestion()">{{submitbuttontext}}</button>
  </mat-dialog-actions>
</mat-card>
