/*
============================================
; Title: Bobs Computer Repair Shop
; Author: Professor Krasso
; Date: 27 November 2021
; Modified By: Angela Martin, Alex Haefner & Sarah Jean Baptiste
; Description: Home Component
===========================================
*/

.large-card{
  margin: 20px;
  background-color: #e2ddd8;
}

.example-card {
  background-color: #f2efeb;
  height: 240px;
  width: 400px;
  font-size: 18px;
  line-height: 1.5;
  font-family:'Abhaya Libre', serif;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  padding-top: 10px;
  font-family:'Castoro', serif;
}

button{
  font-family:'Castoro', serif;
  margin-left: 4px;
}

.button-price{
  position: absolute;
  top: 80%;
}

.form{
  width: 100%;
  font-family:'Abhaya Libre', serif;
}
.submit-button{
  width: 40%;
  padding: 10px;
  margin-top: 10px;
  left: 30%;
  background-color: #f2efeb;
  font-size: 20px;
}

.image{
  filter: grayscale(100%);
  margin-top: 25%;
  float: right;
  width: 128px;
  height: 110px;
}
