
<!-- Main Welcome-->
<div fxLayout="column">
  <div fxFlex class="main-welcome">
    <h1 class="title">Contact Us</h1>
  </div>
  <br/>

<!-- Main container-->
<div fxFlex class="contact-container">

  <!-- Left hand card for navigation information-->
  <div fxLayout="row-wrap" fxLayoutGap="15px">
    <mat-card fxFlex class="card">
      <br/>
      <mat-card-content>
        <p class="center-text">
          <mat-icon>
            <span class="material-icons">navigation</span>
          </mat-icon>
        </p>
        <p class="center-text">
        <strong>Bob's Computer Repair Shop</strong> <br/>
          1973 Omaha St. <br/>
          Bellevue, NE 68005
        </p>
      </mat-card-content>
    </mat-card>

    <!-- middle card to hold photo-->
    <mat-card fxFlex class="card">
      <mat-card-content>
        <img src="../../../assets/contactus.jpg" alt="street" class="photo"/>
        <a href="https://unsplash.com/photos/dhwrbEc9xKg" class="link">Unsplash</a>
      </mat-card-content>
    </mat-card>

<!-- Right hand card for phone information-->
    <mat-card fxFlex class="card">
      <br/>
      <mat-card-content class="card">
        <p class="center-text">
          <mat-icon>
            <span class="material-icons">phone</span>
          </mat-icon>
        </p>
        <p class="center-text">
          <strong>Direct:</strong> 402-785-6524 <br/>
          <strong>Toll Free:</strong> 402-569-9854 <br/>
          <strong>Fax:</strong> 402-653-9832 <br/>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br/>

<!-- Bottom div to display text-->
<div fxFlex>
  <br/>
  <p class="final-note" style="color: dimgray; letter-spacing: 1.5px;">
    <strong>Stop by and see us today or call us to schedule an appointment!</strong>
  </p>
</div>
</div>
