
<mat-card class="main-container">

<!-- Main Welcome-->
<div fxLayout="column">
  <div fxFlex class="main-welcome">
    <h1 class="title">Contact Us</h1>
  </div>
  <br/>

<div fxFlex class="contact-container">

  <!-- Left hand card for navigation information-->
  <div fxLayout="row-wrap" fxLayoutGap="15px">
    <mat-card fxFlex class="card">
      <br/>
      <br/>
      <mat-card-content>
        <p class="center-text">
          <mat-icon>
            <span class="material-icons">navigation</span>
          </mat-icon>
        </p>
        <p class="center-text">
        <strong>Bob's Computer Repair Shop</strong> <br/>
          1973 Omaha St. <br/>
          Bellevue, NE 68005
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Right hand card for phone information-->
    <mat-card fxFlex class="card">
      <mat-card-content>
        <img src="../../../assets/contactus5.jpg" alt="street" class="photo"/>
        <a href="https://unsplash.com/photos/dtySSPxW_2Q" class="link">João Ferrão - Unsplash</a>
      </mat-card-content>
    </mat-card>

     <!-- middle card to hold photo-->
     <mat-card fxFlex class="card">
      <mat-card-content>
        <img src="../../../assets/contactus.jpg" alt="street" class="photo"/>
        <a href="https://unsplash.com/photos/dhwrbEc9xKg" class="link">Bryan Agua - Unsplash</a>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex class="card">
      <br/>
      <br/>
      <mat-card-content class="card">
        <p class="center-text">
          <mat-icon>
            <span class="material-icons">phone</span>
          </mat-icon>
        </p>
        <p class="center-text">
          <strong>Direct:</strong> 402-785-6524 <br/>
          <strong>Toll Free:</strong> 402-569-9854 <br/>
          <strong>Fax:</strong> 402-653-9832 <br/>
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div fxLayout="row-wrap" fxLayoutGap="15px">
    <mat-card fxFlex class="card">
      <mat-card-content>
        <img src="../../../assets/contactus4.jpg" alt="street" class="photo"/>
        <a href="https://unsplash.com/photos/4m7gmLNr3M0" class="link">David Rangel - Unsplash</a>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex class="card">
      <mat-card-content>
        <img src="../../../assets/contactus6.jpg" alt="street" class="photo"/>
        <a href="https://unsplash.com/photos/7fsmqjUKrCc" class="link">Boston Public Library - Unsplash</a>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex class="card">
      <mat-card-content>
        <img src="../../../assets/contactus3.jpg" alt="street" class="photo"/>
        <a href="https://unsplash.com/photos/oZPwn40zCK4" class="link">Kvistholt Photography - Unsplash</a>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex class="card">
      <mat-card-content>
        <img src="../../../assets/contactus2.jpg" alt="street" class="photo"/>
        <a href="https://unsplash.com/photos/85ALPFb6MPQ" class="link">Alexandre Debiève - Unsplash</a>
      </mat-card-content>
    </mat-card>

  </div>

</div>


<br/>

<!-- Bottom div to display text-->
<div fxFlex>
  <br/>
  <p class="final-note">
  Stop by and see us or call to schedule an appointment today!
  </p>
</div>
</div>
</mat-card>
