/*
; Title: Bobs Computer Repair Shop
; Author: Professor Krasso
; Date: 12 Dec 2021
; Modified By: Angela Martin, Alex Haefner & Sarah Jean Baptiste
; Description: Invoice-Routes
; Sources: Getting MEAN with Mongo, Express, Angular, and Node, Second Edition,
*/

/* title Styling */
.title {
  text-align: center;
  font-size: 36px;
  margin-top: 60px;
  font-family:'Castoro', serif;
}

/* Styling for both cards */
.contact-container{
  width: 64%;
  margin: 0 auto;

}

/* Card Styling */
.card{
  background-color: #f2efeb;
  margin: 10px;
}

/* text inside the Card Styling */
.center-text{
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  font-family:'Abhaya Libre', serif;
}

/* Icons in card Styling */
.material-icons{
  font-size: 40px;
  color:dimgray;

}

/* Styling for image */
.photo{
  width: 100%;
  margin-right: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.final-note{
  text-align: center;
  font-size: 18px;
  word-spacing: 2px;
  font-family:'Castoro', serif;
}

.link{
  font-family: 'Reenie Beanie', cursive;
  text-decoration: none;
  font-size: 22px;
  color: dimgray;
}


