
.main-container {
  width: 65%;
  position: fixed;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: #e2ddd8;
  padding-left: 3%;
  padding-right: 3%;
}

.content-container {
 display: block;
}

/* title Styling */
.title {
  text-align: center;
  font-size: 36px;
  margin-top: 1.3%;
  font-family:'Castoro', serif;
}

/* Card Styling */
.card{
  background-color: #f2efeb;
  margin: 10px;

}

/* text inside the Card Styling */
.center-text{
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  font-family:'Abhaya Libre', serif;
}

/* Icons in card Styling */
.material-icons{
  font-size: 40px;
  color: #6c4656;

}

/* Styling for image */
.photo{
  width: 100%;
  margin-right: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.final-note{
  text-align: center;
  font-size: 18px;
  word-spacing: 2px;
  font-family:'Castoro', serif;
}

.link{
  font-family: 'Reenie Beanie', cursive;
  text-decoration: none;
  font-size: 22px;
  color: dimgray;
}


