.image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 0px;
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.top-left {
  position: absolute;
  top: 150px;
  left: 100px;
  color: white;
  font-family: 'Reenie Beanie', Arial, Helvetica, sans-serif;
  font-size: 42px;
  line-height: 4.5vh;
}

.attribution {
  color: white;
  position: absolute;
  top: 775px;
  left: 1600px;
  text-decoration: none;
  font-family: 'Reenie Beanie', Arial, Helvetica, sans-serif;
  font-size: 28px;
}

.button-style {
  font-family: 'Castoro', Arial, Helvetica, sans-serif;
  border: solid white;
  border-radius: 10%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  position: absolute;
  top: 250px;
  left: 240px;
}



