.image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 0px;
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.top-left {
  position: absolute;
  top: 150px;
  left: 100px;
  color: white;
  font-family: 'Reenie Beanie', Arial, Helvetica, sans-serif;
  font-size: 42px;
}

a {
  color: white;
  position: absolute;
  top: 230px;
  left: 150px;
  font-family: 'Reenie Beanie', Arial, Helvetica, sans-serif;
  font-size: 28px;
}

.button-style {
  font-family: 'Castoro', Arial, Helvetica, sans-serif;
  border: solid #616161;
  border-radius: 10%;
  color: #616161;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  position: absolute;
  top: 205px;
  left: 240px;
}



