.background {
    width: auto;
    height: 100%;
    background: url('/assets/julie-rotter-Y03s37C6tQk1-unsplash.jpg') no-repeat;
    background-size: cover;
    color: cue-region white;
    text-align: center;
}



