/*
============================================
; Title: Bobs Computer Repair Shop
; Author: Professor Krasso
; Date: 27 November 2021
; Modified By: Angela Martin, Alex Haefner & Sarah Jean Baptiste
; Description: Home Component
===========================================
*/

/* Styling for title */
.title {
  text-align: center;
  font-size: 36px;
  margin-top: 60px;
  font-family:'Castoro', serif;
  }

  /* Styling for image */
  .photo{
    width: 44%;
    float: left;

  }

  .link{
    color:  #5D5B5B;
  }

  /* Styling for text */
  .text{
    font-size: 18px;
    line-height: 1.5;
    width: 54%;
    float: left;
    margin-left: 20px;
    font-family:'Abhaya Libre', serif;

  }

  .note{
    color: #5D5B5B;
  }

  /* Card Styling */
.card{
  background-color: #f2efeb;
  margin: 20px 60px 0px 40px;
  padding: 40px;
}

  .signature{
   font-size: 32px;
   font-weight: bold;
   font-family: 'Reenie Beanie', cursive;
  }


