<!--
============================================
; Title: Bobs Computer Repair Shop
; Author: Professor Krasso
; Date: 27 November 2021
; Modified By: Angela Martin, Alex Haefner & Sarah Jean Baptiste
; Description: Home Component
===========================================
-->

<!-- Main container -->
<div fxLayout="column">

  <!-- Main Content-->
  <div class="main-container">
    <mat-card class="card">
      <mat-card-content fxLayout="column">

        <div fxFlex>
          <h1 class="title">About Us</h1>
        </div>
        <div  fxLayout="row">
        <!-- Image-->
        <div fxFlex="30%">
          <figure>
            <img src="../../../assets/bobmiller.jpg" alt="Bob Miller" class="photo"/>
            <figcaption>Alexandre Debièvet on <a href="https://unsplash.com/photos/mCw8SyQQbc4" target="_blank" class="link">Unsplash</a></figcaption>
          </figure>
        </div>
        <!-- Text: about us-->
        <div fxFlex="55%" class="text">
          <p>
            Bob’s Computer Repair Shop was founded in 1973 by Bob Miller. Bob Miller was a hard-working family man who wanted to create a legacy for his children and generations to come. Bob’s Computer Shop was one the first computer shop in Nebraska and continues to be the number one chosen computer shop in Nebraska to this day. Bob’s has been run by the Miller family for nearly fifty years and by three different generations. At Bob’s, we believe our customers are family and we will do anything we can to assist you!
            <br/>
            <br/>
            Bob’s Computer Repair Shop offers many different services to ensure the health of your machine and to increase your machine’s longevity.  Whether you are in need of a quick clean-up or a serious overhaul, Bob’s Computer Repair Shop has got your back!
            <br/>
            <small class="note"> * If you are in need of a service not listed, please <a routerLink="/contact-us" style="color: #5D5B5B">contact us</a> and if we can’t fix it, we will find someone else who can! Bob’s Computer shop has a vast network of connections of technicians all around the United States. </small>
            <br/>
            <br/>
            To ensure your computer is in the best hands possible, Bob’s Computer Repair Shop employs three full-time technicians right here in Bellevue, Nebraska. All three of our highly-skilled technicians are recent graduates of Bellevue University, graduating early and on the Dean’s list!
            <br/>
            <br/>
            At Bob’s Computer Repair Shop we serve our customers as our Grandfather Bob Miller would have wanted…as family.  For timely maintenance and cleaning to keep your computer up to date and running efficiently, visit us today or schedule an appointment with our experienced staff!
            <br/>
            <br/>
            <span class="signature">-	Bob’s Computer Repair Shop</span>
          </p>
        </div>
        </div>


      </mat-card-content>
  </mat-card>
