/*
============================================
; Title: Bobs Computer Repair Shop
; Author: Professor Krasso
; Date: 27 November 2021
; Modified By: Angela Martin, Alex Haefner & Sarah Jean Baptiste
; Description: User-config Component
==========================================
*/

/* Logo */
.logo {
  margin-left: 75px;
  font-size: 36px;
  font-weight: 800;
  color: #6c4656;
  font-family: 'Reenie Beanie', cursive;
}

/* Style navbar container */
.navbar-container {
  padding: 5px;
}

/* Style the navbar links */
.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

/* Style the main content */
.main-content {
  padding-left: 30px;
}

/* Style the footer */
.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

/* Style the footer text */
.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;

}

/* Style the footer link */
.bu-link {
  text-decoration: none;
  color: #6c4656;
}

/* Style footer link hover */
.bu-link:hover {
  text-decoration: underline;
  color: #6c4656;
}

.position-person {
  position: absolute;
  right: 130px;
  top: 12px;
}

mat-icon {
  color: #6c4656;
  font-size: 36px;
}

::ng-deep .mat-toolbar {
  background-color: #cdb2bd;
}

::ng-deep .input {
  caret-color:#6c4656;
}

::ng-deep .mat-menu-item .mat-icon {
  color: #6c4656;
}
