/*
============================================
; Title: Bobs Computer Repair Shop
; Author: Professor Krasso
; Date: 27 November 2021
; Modified By: Angela Martin, Alex Haefner & Sarah Jean Baptiste
; Description: User-config Component
==========================================
*/

.logo {
    margin-left: 75px;
    font-size: 24px;
    font-weight: lighter;;
}

.navbar-container {
  padding: 5px;
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
  padding-left: 30px;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}

.position-person {
  position: absolute;
  right: 150px;
}

mat-icon {
  color: #6e5945;
  font-size: 36px;


}

::ng-deep .mat-toolbar {
  background-color: #f2efeb;
}
