<!--
============================================
; Title: Bobs Computer Repair Shop
; Author: Professor Krasso
; Date: 27 November 2021
; Modified By: Angela Martin, Alex Haefner & Sarah Jean Baptiste
; Description: User-config Component
==========================================
-->

<div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>BCRS</button>

        <button class="navbar-link" routerLink="/" mat-button>Services</button>
        <button class="navbar-link" routerLink="/about-us" mat-button>
          About Us
        </button>
        <button class="navbar-link" routerLink="/contact-us" mat-button>
          Contact Us
        </button>

        <div>
          <button class="position-person" [matMenuTriggerFor]="options" mat-icon-button>
          <mat-icon>person</mat-icon>
          </button>

          <mat-menu #options="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="configurations">
              <mat-icon>settings</mat-icon>
              Configurations
            </button>
            <button mat-menu-item [matMenuTriggerFor]="reports">
              <mat-icon>insert_chart</mat-icon>
              Reports
            </button>
            <button mat-menu-item routerLink="/session/sign-in">
              <mat-icon>login</mat-icon>
              Sign In
            </button>
            <button mat-menu-item routerLink="/session/sign-in">
              <mat-icon>logout</mat-icon>
              Sign Out
            </button>
          </mat-menu>

          <mat-menu #configurations="matMenu">
            <button mat-menu-item routerLink="/user-configuration">
              <mat-icon>person_add</mat-icon>
              Users
            </button>
            <button mat-menu-item routerLink="/role-configuration">
              <mat-icon>security</mat-icon>
              Roles
            </button>
            <button mat-menu-item routerLink="/security-questions">
              <mat-icon>help</mat-icon>
              Security Questions
            </button>
          </mat-menu>
          <mat-menu #reports="matMenu">
            <button mat-menu-item routerLink="/purchases-by-service-graph">
              <mat-icon>pie_chart</mat-icon>
              Purchases by Service
            </button>
          </mat-menu>

        </div>

      </div>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{ year | date: "yyyy" }} - Bob's Computer Repair Shop -
          <a href="https://www.bellevue.edu/" class="bu-link" target="_blank"
            >Bellevue University</a
          >
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
