<!--
============================================
; Title: Bobs Computer Repair Shop
; Author: Professor Krasso
; Date: 27 November 2021
; Modified By: Angela Martin, Alex Haefner & Sarah Jean Baptiste
; Description: Security Questions Component
===========================================
-->
<mat-card  class="container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <div>
      <h1>Security Question Configuration</h1>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="flex-start">
    <div>
      <button mat-button style="text-decoration: underline;"><h3>Create a new security question</h3></button>
    </div>
  </div>

  <div class="headers" fxLayout="row" fxLayoutAlign="start-start" fxLayoutGap="60%">
    <div>
      <h2>Security Question</h2>
    </div>

    <div>
      <h2>Functions</h2>
    </div>
  </div>

  <div class="actual-users" fxLayout="row" fxLayoutGap="60%">
    <div>
      <ul>
        <li>
          <p>
            List of security questions goes here.
            <button mat-icon-button class="edit-button">
              <mat-icon color="black">edit</mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon color="black">delete</mat-icon>
            </button>
          </p>
        </li>
      </ul>
    </div>
  </div>
</mat-card>
