<div fxLayout="column">

  <mat-card class="security-questions-card" fxFlex>
    <mat-card-title>Security Question Configuration</mat-card-title>

    <button mat-button style="text-decoration: underline;">Create a new security question </button>
    <br/>

    <mat-card-content>
      <div fxLayout="row" >
        <div fxFlex>
          <ul  class="security-questions">
            <li>
              <mat-icon>
                <span class="material-icons">delete</span>
                <span class="material-icons">edit</span>
              </mat-icon>
            </li>
          </ul>

        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
