/*
============================================
; Title: Bobs Computer Repair Shop
; Author: Professor Krasso
; Date: 27 November 2021
; Modified By: Angela Martin, Alex Haefner & Sarah Jean Baptiste
; Description: User-config Component
==========================================
*/

.container {
  width: 55%;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: none;
  margin-top: 150px;

}

.actual-users {
  margin-left: 28px;
  justify-self: end;
}

.edit-button {
  margin-left: 0px;
  padding-right: 75px;

}



h1 {
  font-size: 34px;
  font-weight: normal;


}

h2 {
  font-size: 24px;
  font-weight:normal;
  margin-left: 26px;
}

h3 {
  font-size: 16px;
  margin-left: 10px;
}

h4 {
  font-size: 20px;
}

mat-card {
  margin: 40px;
  box-shadow: none;
}

