<mat-card  class="container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <div>
      <h1>User Configuration<br><br></h1>
    </div>
  </div>



  <br>
  <div fxLayout="row" fxLayoutAlign="flex-start">
    <div>

      <button mat-button style="text-decoration: underline" (click)="createUser()"><h3>Create a User</h3></button>

    </div>
  </div>

  <div class="headers" fxLayout="row" fxLayoutAlign="start-start" fxLayoutGap="55%">
    <div>
      <h2>Username</h2>
    </div>

    <div>
      <h2>Functions</h2>
    </div>
  </div>
  <ng-container *ngFor="let user of users;index as i">
    <div class="actual-users" fxLayout="row" fxLayoutGap="60%">

        <div class="icons">
          <h4>{{user.username}}</h4>
        </div>
        <div fxFlex fxLayoutAlign="start">
          <p>
          <button mat-icon-button class="edit-button" (click)="updateUser(user)">
            <mat-icon color="primary">edit</mat-icon>
          </button>

          <button mat-icon-button (click)="deleteUser(i)">
            <mat-icon color="primary">delete</mat-icon>
          </button>
          </p>
        </div>

    </div>
  </ng-container>
</mat-card>
